### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule home index.html
RewriteRule about about.html
RewriteRule other other.html
RewriteRule brzydkierzeczy easter/kkmygf.html
