* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}
#content {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
}
#loading {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: black;
  z-index: 1000;
  position: absolute;
}
#btn {
  border: none;
  width: 160px;
  height: 60px;
  background-color: #f49dc1;
  color: #2e2e2e;
  border: 2px solid #ad095d;
  border-radius: 20%;
  font-size: 22px;
  transform: scale(1);
  transition: transform 0.5s, background-color 0.5s;
}
#btn:hover {
  cursor: pointer;
  transform: scale(1.2);
  background-color: #fc3688;
  transition: transform 1.5s ease-in-out, background-color 1s;
}
#main {
  top:0;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  z-index: 1;
}
#scene {
  position: absolute;
  display: flex;
  width: 85vw;
  height: 90%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#tekst {
  color: white;
  font-size: 40px;
}
